@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background-color: black; */
}

@layer components {
  /* .menu-item {
    /* hover:text-blue-900 hover:bg-white 
    @apply flex-box sm:flex-col lg:flex-row p-2 md:mx-3 mx-1 text-gray-500 text-base font-normal cursor-pointer border-black rounded uppercase hover:text-black;
  } */

  .flex-box {
    @apply flex items-center justify-center;
  }
  /* .home {
    @apply bg-black;
    /* @apply bg-[image:url('../assets/herowtext.png')] bg-cover bg-no-repeat;
  } */
}
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
